
@font-face {
    font-family: 'regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg: #ffffff;
    --white0: #ffffff;
    --white1: #ffffffdd;
    --white2: #ffffffbb;
    --accent1: #003049;
    --accent2: #d62828;
    --red: #ffadad;
    --orange: #ffd6a5;
    --yellow: #fdffb6;
    --green: #caffbf;
    --sky: #9bf6ff;
    --blue: #a0d4ff;
    --purple: #bdb2ff;
    --pink: #ffc6ff;
    --grey: #dbdbdb;
}

body {
    font-family: 'regular';
    font-size: 18px;
    background-color: var(--bg);
    background-image: radial-gradient(#cccccc 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -9px -9px;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: var(--accent2);
    font-size: inherit;
}

#logo {
    font-family: 'bold';
    font-size: 18px;
    font-size: 2.5em;
    text-align: center;
}

h1, h2, h3{
    font-family: 'bold';
    text-align: center;
}

form {
    margin: 15px auto;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

input {
    font-family: 'regular';
    padding: 10px;
    border-radius: 15px;
    border-width: 0px;
}

.textInput {
    background-color: var(--grey);
    width: 65%;
}

.buttonInput {
    background-color: var(--accent1);
    color: var(--white0);
    width: 25%;
}

#diary, #daytracker{
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 10px 0;
    border-radius: 15px;
    background-color: var(--accent1);
    display: flex;
    justify-content: space-evenly;
}

#daytracker .colorCube{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--white0);
}

#daytracker .todayColorCube {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--white0);
    border: solid 2px var(--accent2);
}

#yesterdiary, #todiary, #tomorrowdiary{
    width: 32%;
    padding: 5px 0;
    border-radius: 15px;
}

#todiary1c{
    width: 100%;
    padding: 5px 0;
    border-radius: 15px;
}

.d {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    color: var(--accent2);
}

.nd {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    color: var(--accent1);
}

.dates {
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--white1);
    height: 150px;
    overflow:scroll;
    background-image: radial-gradient(#cccccc 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -9px -9px;
    line-height: 1.7em;
}

.nottoday {
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--white2);
    height: 150px;
    overflow:scroll;
    background-image: radial-gradient(#cccccc 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -9px -9px;
    line-height: 1.7em;

}

.today {
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--white0);
    height: 150px;
    overflow:scroll;
  background-image: radial-gradient(#cccccc 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -9px -9px;
  line-height: 1.7em;
}

.dates1c {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--white2);
    height: 150px;
    overflow:scroll;
    background-image: radial-gradient(#cccccc 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -9px -9px;
    line-height: 1.7em;
}

.today1c {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--white0);
    height: 150px;
    overflow:scroll;
    background-image: radial-gradient(#cccccc 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -9px -9px;
    line-height: 1.7em;
}

code {
    font-family: 'regular';
    padding: 10px;
    border-radius: 15px;
    background-color: #bdbdbd;
}
